/* ----- GENERAL ----- */

:root {
    --color-principal: #17A595;
    --color-fondo: #87bdb1;
    --color-texto: #333;
    --color-borde: #CCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    var(--color-principal),
    var(--color-fondo),
    var(--color-principal),
    var(--color-fondo),
    var(--color-principal),
    var(--color-fondo)
  );
  background-size: 400% 400%;
  animation: gradientAnim 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animación del fondo */
@keyframes gradientAnim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo img {
    width: 150px;
}

h2 {
    margin: 15px 0;
    color: var(--color-texto);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

label {
    font-size: 14px;
    color: var(--color-texto);
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    font-size: 14px;
}

input:focus, select:focus {
    border-color: var(--color-principal);
    outline: none;
    box-shadow: 0 0 5px rgba(23, 165, 149, 0.5);
}

p {
    font-size: 14px;
    margin-top: 15px;
}

p a {
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}



/* ----- LOGIN ----- */

.forgot-password {
    text-align: left;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: var(--color-principal);
    text-decoration: none;
}

.btn {
    background-color: var(--color-principal);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #14877e;
}

hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background: #ccc;
}

.link {
    color: var(--color-principal);
    text-decoration: none;
    font-weight: bold;
}



/* ----- REGISTRO ----- */

.btn-registrar {
    background: var(--color-principal);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-registrar:hover {
    background: #128678;
}
