@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Estilos de bienvenida */
h1 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}

h1 .static {
    font-weight: 500;
    color: #333;
}


.header__container {
    position: relative;
    z-index: 1;
}

.header__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}




/* ---------- BARRA DE BUSQUEDA -------------- */



.container {
	max-width: 800px;
	margin: 250px auto;
}

.search-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px; /* Puedes ajustar el tamaño máximo del buscador */
    padding: 0 20px;
}

.search-input-box {
    width: 100%;
    background-color: #f5f5f5;
    border: 2px solid rgba(23, 165, 149, 0.3);
    border-radius: 5px;
    position: relative;
    color: #000000;
    box-shadow: 0 4px 12px rgba(23, 165, 149, 0.3);
    transition: all 0.3s ease;
}

.search-input-box.active {
    border: 2px solid rgba(23, 165, 149, 0.3);
    box-shadow: 0 4px 12px rgba(23, 165, 149, 0.3);
}

.search-input-box input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 55px;
    padding: 0 60px 0 20px;
    font-size: 18px;
}
.icon {
	position: absolute;
	top: 15px;
	right: 25px;
	font-size: 22px;
	cursor: pointer;
	color: #0d141f;
}


/* Contenedor de sugerencias */
.container-suggestions {
	max-height: 280px;
	opacity: 0;
	pointer-events: none;
	padding: 0;
	overflow-y: auto;
}

.search-input-box.active .container-suggestions {
	opacity: 1;
	pointer-events: auto;
	padding: 10px 8px;
}

.search-input-box.active .container-suggestions li {
	display: block;
}

.container-suggestions li {
	list-style: none;
	width: 100%;
	padding: 8px 12px;
	border-radius: 5px;
	display: none;
    cursor: default;
}

.container-suggestions li:hover{
    background-color: #e2e2e2;
}

.container-suggestions li::before {
    content: "\f002"; /* Ícono de lupa */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #0d141f;
}

.container-suggestions li.selected {
  background-color: #e2e2e2;
}



.ventana-emergente-producto-busq {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ventana-contenido-producto-busq {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 450px;
    font-family: 'Nunito', sans-serif;
    animation: aparecer 0.3s ease;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.ventana-encabezado-producto-busq {
    background-color: #17A595;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.ventana-cuerpo-producto-busq {
    padding: 25px;
    text-align: center;
}

.ventana-cuerpo-producto-busq p {
    font-size: 17px;
    color: #333;
    margin: 0;
}










/* ------- MODAL MODIFICAR PRODUCTO ----------- */

.modal-modificar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-modificar.active {
    display: flex;
}


.modal-content-producto-modificar {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}


.modal-header-producto-modificar {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-header-producto-modificar .back-arrow {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.modal-body-producto-modificar {
    display: flex;
    gap: 40px;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}



.buscador-modificar {
    width: 100%;
    background-color: #f5f5f5;
    border: 2px solid rgba(23, 165, 149, 0.3);
    border-radius: 5px;
    position: relative;
    color: #000000;
    box-shadow: 0 4px 12px rgba(23, 165, 149, 0.3);
    transition: all 0.3s ease;
}

.buscador-modificar.active {
    border: 2px solid rgba(23, 165, 149, 0.3);
    box-shadow: 0 4px 12px rgba(23, 165, 149, 0.3);
    display: block;
}


.buscador-modificar input {
	width: 100%;
	border: none;
	outline: none;
	border-radius: 5px;
	height: 55px;
	padding: 0 60px 0 20px;
	font-size: 18px;
}




/* Contenedor de sugerencias */
.container-suggestions-modificar {
	max-height: 280px;
	opacity: 0;
	pointer-events: none;
	padding: 0;
	overflow-y: auto;
}

.buscador-modificar.active .container-suggestions-modificar {
	opacity: 1;
	pointer-events: auto;
	padding: 10px 8px;
}

.buscador-modificar.active .container-suggestions-modificar li {
	display: block;
}

.container-suggestions-modificar li {
	list-style: none;
	width: 100%;
	padding: 8px 12px;
	border-radius: 5px;
    display: none;
    cursor: default;
}

.container-suggestions-modificar li:hover{
    background-color: #e2e2e2;
}

.container-suggestions-modificar li::before {
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #0d141f;
}

.container-suggestions-modificar li.seleccionado {
  background-color: #e2e2e2;
  color: white;
}

.container-suggestions-modificar li.highlighted {
  background-color: #e2e2e2;
  color: rgb(0, 0, 0);
  cursor: pointer;
}




/* modificar producto */

.modal-producto-mod {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-producto-mod.active {
    display: flex;
}

.modal-content-producto-mod {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}



.modal-header-producto-mod {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-header-producto-mod .back-arrow {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.modal-body-producto-mod {
    display: flex;
    gap: 40px;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.imagen-box-mod {
    width: 250px;
    height: 250px;
    border: 2px dashed #17A595;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #f9f9f9;
}

.imagen-box-mod input {
    display: none;
}

.imagen-box-mod img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

.imagen-box-mod p {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.formulario-producto-mod {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 250px; 
    width: 330px;  
    padding: 10px 0;
}

.formulario-producto-mod input {
    height: 50px;
    padding: 10px;
    border: 2px solid rgba(23, 165, 149, 0.3);
    border-radius: 8px;
    font-size: 16px;
}

.formulario-producto-mod button {
    background-color: #17A595;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.formulario-producto-mod button:hover {
    background-color: #139080;
}


.ventana-emergente-producto-mod {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ventana-contenido-producto-mod {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 450px;
    font-family: 'Nunito', sans-serif;
    animation: aparecer-mod 0.3s ease;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.ventana-encabezado-producto-mod {
    background-color: #17A595;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.ventana-cuerpo-producto-mod {
    padding: 25px;
    text-align: center;
}

.ventana-cuerpo-producto-mod p {
    font-size: 17px;
    color: #333;
    margin: 0;
}

@keyframes aparecer-producto-mod {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}
@keyframes desaparecer-producto-mod {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.9); }
}

.ventana-emergente-producto-mod.desapareciendo-mod .ventana-contenido-producto-mod {
    animation: desaparecer-mod 0.3s ease forwards;
}



/* -------- MODAL PÁGINA PRINCIPAL 1 -------- */

.modal-principal1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-principal1.active {
    display: flex;
}

.modal-contentP1 {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}



.modal-headerP1 {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-headerP1 .back-arrow {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.modal-bodyP1 {
    display: flex;
    gap: 40px;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.imagen-boxP1 {
    width: 250px;
    height: 250px;
    border: 2px dashed #17A595;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #f9f9f9;
}

.imagen-boxP1 input {
    display: none;
}

.imagen-boxP1 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

.imagen-boxP1 p {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.formulario-P1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 250px; 
    width: 330px;  
    padding: 10px 0;
}

.formulario-P1 input {
    height: 50px;
    padding: 10px;
    border: 2px solid rgba(23, 165, 149, 0.3);
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
}

.formulario-P1 button {
    background-color: #17A595;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
}

.grupo-nombrep1 {
    margin-top: -15px;
}
  
.grupo-valorp1 {
    margin-top: 20px;
}

.formulario-P1 button:hover {
    background-color: #139080;
}





.modal-eliminar.active {
    display: flex;
}



.modal-content-producto-eliminar {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}


.modal-header-producto-eliminar {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-header-producto-eliminar .back-arrow {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.modal-body-producto-eliminar {
    display: flex;
    gap: 40px;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}



.buscador-eliminar {
    width: 100%;
    background-color: #f5f5f5;
    border: 2px solid rgba(23, 165, 149, 0.3);
    border-radius: 5px;
    position: relative;
    color: #000000;
    box-shadow: 0 4px 12px rgba(23, 165, 149, 0.3);
    transition: all 0.3s ease;
}

.buscador-eliminar.active {
    border: 2px solid rgba(23, 165, 149, 0.3);
    box-shadow: 0 4px 12px rgba(23, 165, 149, 0.3);
    display: block;
}


.buscador-eliminar input {
	width: 100%;
	border: none;
	outline: none;
	border-radius: 5px;
	height: 55px;
	padding: 0 60px 0 20px;
	font-size: 18px;
}



/* Contenedor de sugerencias */
.contenedor-sugerencias-eliminar {
	max-height: 280px;
	opacity: 0;
	pointer-events: none;
	padding: 0;
	overflow-y: auto;
}

.buscador-eliminar.active .contenedor-sugerencias-eliminar {
	opacity: 1;
	pointer-events: auto;
	padding: 10px 8px;
}

.buscador-eliminar.active .contenedor-sugerencias-eliminar li {
	display: block;
}

.contenedor-sugerencias-eliminar li {
	list-style: none;
	width: 100%;
	padding: 8px 12px;
	border-radius: 5px;
    display: none;
    cursor: default;
}

.contenedor-sugerencias-eliminar li:hover{
    background-color: #e2e2e2;
}

.contenedor-sugerencias-eliminar li::before {
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #0d141f;
}



/* eliminar producto */

.modal-producto-eli {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-producto-eli.active {
    display: flex;
}

.modal-content-producto-eli {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}



.modal-header-producto-eli {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-header-producto-eli .back-arrow {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.modal-body-producto-eli {
    display: flex;
    gap: 40px;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.imagen-box-eli {
    width: 250px;
    height: 250px;
    border: 2px dashed #17A595;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #f9f9f9;
}

.imagen-box-eli input {
    display: none;
}

.imagen-box-eli img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

.imagen-box-eli p {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.formulario-producto-eli {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 250px; 
    width: 330px;  
    padding: 10px 0;
}

.formulario-producto-eli input {
    height: 50px;
    padding: 10px;
    border: 2px solid rgba(23, 165, 149, 0.3);
    border-radius: 8px;
    font-size: 16px;
}

.formulario-producto-eli button {
    background-color: #17A595;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.formulario-producto-eli button:hover {
    background-color: #139080;
}


.ventana-emergente-producto-eli {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ventana-contenido-producto-eli {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 450px;
    font-family: 'Nunito', sans-serif;
    animation: aparecer-eli 0.3s ease;  /* ✅ corregido */
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.ventana-encabezado-producto-eli {
    background-color: #17A595;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.ventana-cuerpo-producto-eli {
    padding: 25px;
    text-align: center;
}

.ventana-cuerpo-producto-eli p {
    font-size: 17px;
    color: #333;
    margin: 0;
}

@keyframes aparecer-producto-eli {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes desaparecer-producto-eli {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.9); }
}

.ventana-emergente-producto-eli.desapareciendo-eli .ventana-contenido-producto-eli {
    animation: desaparecer-eli 0.3s ease forwards; /* ✅ corregido */
}

.contenedor-sugerencias-eliminar li.selected {
    background-color: #e2e2e2;
    color: rgb(0, 0, 0);
}



/* -------- MODAL PÁGINA PRINCIPAL 2 -------- */

.modal-principal2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-principal2.active {
    display: flex;
}

.modal-contentP2 {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
    min-height: 450px;
}


.modal-headerP2 {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-headerP2 .back-arrow {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}


.modal-bodyP2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 2em;
    justify-content: center;
    align-items: flex-start;
}

.imagen-boxP2 {
    width: 250px;
    height: 250px;
    border: 2px dashed #17A595;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #f9f9f9;
    transform: translate(-10px, 30px);
}

.imagen-boxP2 input {
    display: none;
}

.imagen-boxP2 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.imagen-boxP2 p {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.formulario-P2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 330px;
    padding: 0;
    gap: 15px;
}

.formulario-P2 input {
    height: 50px;
    padding: 10px;
    border: 2px solid rgba(23, 165, 149, 0.3);
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
}

.formulario-P2 button {
    background-color: #17A595;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.formulario-P2 button:hover {
    background-color: #139080;
}

.grupo-cantidadP2,
.grupo-valorImpresionP2,
.grupo-valorDiseñoP2 {
    margin: 0; /* ya no hace falta el margin-top manual */
}


  
/* -------- MODAL PÁGINA PRINCIPAL 3 -------- */

.modal-principal3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-principal3.active {
    display: flex;
}

.modal-contentP3 {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}


.modal-headerP3 {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-headerP3 .back-arrow {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.modal-bodyP3 {
    display: flex;
    gap: 40px;
    padding: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.imagen-boxP3 {
    width: 250px;
    height: 250px;
    border: 2px dashed #17A595;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #f9f9f9;
}

.imagen-boxP3 input {
    display: none;
}

.imagen-boxP3 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

.imagen-boxP3 p {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.formulario-P3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 250px; 
    width: 330px;  
    padding: 10px 0;
}

.formulario-P3 input {
    height: 50px;
    padding: 10px;
    border: 2px solid rgba(23, 165, 149, 0.3);
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
}

.formulario-P3 button {
    background-color: #17A595;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
}

.grupo-nombreP3 {
    margin-top: -15px;
}
  
.grupo-totalP3 {
    margin-top: 20px;
}

.formulario-P3 button:hover {
    background-color: #139080;
}

.ventana-emergenteP3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ventana-contenidoP3 {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 450px;
    font-family: 'Nunito', sans-serif;
    animation: aparecer 0.3s ease;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.ventana-encabezadoP3 {
    background-color: #17A595;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.ventana-cuerpoP3 {
    padding: 25px;
    text-align: center;
}

.ventana-cuerpoP3 p {
    font-size: 17px;
    color: #333;
    margin: 0;
}

.ventana-emergenteP3.desapareciendo .ventana-contenidoP3 {
    animation: desaparecer 0.3s ease forwards;
}



/* -------- HISTORIAL COTIZACIONES -------- */

.modal-historial {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-historial.active {
    display: flex;
}

.modal-content-producto-historial {
    background: #fff;
    border-radius: 15px;
    max-width: 1000px; /* 🚀 más ancho */
    width: 95%; /* 🚀 más ancho */
    height: 80vh; /* 🚀 más alto: 80% viewport height */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}


.modal-header-producto-historial {
    background: #17A595;
    color: white;
    padding: 1.2em 2em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
}

.modal-header-producto-historial .back-arrow-historial {
    cursor: pointer;
    font-size: 26px;
    font-weight: bold;
}

.modal-body-producto-historial {
    flex: 1;
    overflow-y: auto;
    padding: 25px;
}

/* Tarjeta de cotización */
.tarjeta-cotizacion {
    background-color: #d3f1ee;
    border-radius: 16px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s ease;
    overflow: visible; /* 🚀 IMPORTANTE para que no corte el contenido */
}

/* Título de la tarjeta */
.titulo-cotizacion {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Info general de la cotización */
.info-cotizacion {
    display: flex;
    flex-direction: column; 
    gap: 6px;
}

/* Detalle de productos (Producto + Botón PDF) */
.detalle-productos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

/* Producto individual */
.producto-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Botón PDF */
.boton-pdf {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 12px;
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

.boton-pdf:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}





/* -------- CUENTAS -------- */

.modal-cuentas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-cuentas.active {
    display: flex;
}

.modal-content-producto-cuentas {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    height: 530px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}



.modal-header-producto-cuentas {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-header-producto-cuentas .back-arrow-cuentas {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.modal-body-producto-cuentas {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.linea-separadora {
  border: none;
  height: 2px;
  background-color: #242424;
  margin: 10px auto 20px;
  width: 80%;
  border-radius: 5px;
}


.usuarios-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    max-height: 320px;
    overflow-y: auto;
    padding: 20px 10px;
}

.tarjeta-usuario {
    background: #D6F0EF;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid transparent;
}

.tarjeta-usuario img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}


.tarjeta-usuario.seleccionado {
    border: 2px solid #17A595;
    background-color: #b6e4e2;
}

.tarjeta-usuario h4 {
    margin: 5px 0 0;
    font-weight: 700;
}

.tarjeta-usuario p {
    margin: 0;
    color: #555;
    font-size: 14px;
}

.boton-eliminar {
    display: block;
    margin: 20px auto 10px;
    padding: 10px 30px;
    background-color: #17A595;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.boton-eliminar:hover {
    background-color: #139384;
}

/* ===== Ventana emergente Eliminar Cuenta ===== */

.ventana-emergente-producto-cuentas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;  /* Oculta por defecto */
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ventana-contenido-producto-cuentas {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 450px;
    font-family: 'Nunito', sans-serif;
    animation: aparecer-cuentas 0.3s ease;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 25px;
}

.ventana-contenido-producto-cuentas h2 {
    background-color: #17A595;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    margin: -25px -25px 20px -25px;  /* Para que el header sea full */
}

.ventana-contenido-producto-cuentas p {
    font-size: 17px;
    color: #333;
    margin: 0;
}

@keyframes aparecer-producto-cuentas {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes desaparecer-producto-cuentas {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.9); }
}

.ventana-emergente-producto-cuentas.desapareciendo-cuentas .ventana-contenido-producto-cuentas {
    animation: desaparecer-cuentas 0.3s ease forwards;
}

/* ===== Ventana de Confirmación Eliminar Cuenta ===== */

.ventana-confirmacion-cuentas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ventana-contenido-producto-confirmacion {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 400px;
    font-family: 'Nunito', sans-serif;
    animation: aparecer-confirmacion 0.3s ease;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 25px;
}

.ventana-contenido-producto-confirmacion h2 {
    background-color: #cc1717;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    margin: -25px -25px 20px -25px;
}

.ventana-contenido-producto-confirmacion p {
    font-size: 17px;
    color: #333;
    margin-bottom: 20px;
}

.botones-confirmacion {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.botones-confirmacion button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#btnConfirmarEliminarCuenta {
    background-color: #e73c3c;
    color: white;
}

#btnConfirmarEliminarCuenta:hover {
    background-color: #c02b2b;
}

#btnCancelarEliminarCuenta {
    background-color: #bdc3c7;
    color: #333;
}

#btnCancelarEliminarCuenta:hover {
    background-color: #95a5a6;
}

@keyframes aparecer-producto-confirmacion {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

/* ===== Ventana: Selecciona usuario ===== */
@keyframes aparecer {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes desaparecer {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.9); }
}

.ventana-seleccion-cuentas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ventana-contenido-producto-seleccion {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 400px;
    font-family: 'Nunito', sans-serif;
    animation: aparecer-seleccion 0.3s ease;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 25px;
}

.ventana-contenido-producto-seleccion h2 {
    background-color: #17A595;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    margin: -25px -25px 20px -25px;
}

.ventana-contenido-producto-seleccion p {
    font-size: 17px;
    color: #333;
    margin-bottom: 20px;
}

.ventana-contenido-producto-seleccion button {
    padding: 10px 20px;
    background-color: #17A595;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.ventana-contenido-producto-seleccion button:hover {
    background-color: #17A595;
}

@keyframes aparecer-producto-seleccion {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}



/* -------- EDITAR PERFIL -------- */

.modal-perfil {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-perfil.active {
    display: flex;
}

.modal-content-producto-perfil {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}

@keyframes slideIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal-header-producto-perfil {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-header-producto-perfil .back-arrow-perfil {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.modal-body-producto-perfil {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.perfil-img-container {
  flex: 0 0 150px;
  text-align: center;
  align-items: center;
  margin-top: -30px;
  margin-left: 70px;
}

.perfil-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.perfil-img:hover {
  transform: scale(1.05);
}

.formulario-perfil {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 100px;
}

.campo {
  display: flex;
  flex-direction: column;
}

.campo label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

.campo input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 300px;
}

.btn-perfil {
  background-color: #17A595;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  width: 150px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(23, 165, 149, 0.4);
  transition: background-color 0.2s;
  margin-left: 70px;
}

.btn-perfil:hover {
  background-color: #128b7a;
}



.ventana-emergente-producto-perfil {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ventana-contenido-producto-perfil {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 450px;
    font-family: 'Nunito', sans-serif;
    animation: aparecerPerfil 0.3s ease;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.ventana-encabezado-producto-perfil {
    background-color: #17A595;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.ventana-cuerpo-producto-perfil {
    padding: 25px;
    text-align: center;
}

.ventana-cuerpo-producto-perfil p {
    font-size: 17px;
    color: #333;
    margin: 0;
}

@keyframes aparecerPerfil {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes desaparecerPerfil {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.9); }
}

.ventana-emergente-producto-perfil.desapareciendo-perfil .ventana-contenido-producto-perfil {
    animation: desaparecerPerfil 0.3s ease forwards;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*-------------------- OPCIONES ADMIN ---------------------*/

.welcome-message {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: #383838;
    font-weight: 600;
    margin-top: 70px;
}


.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    margin-top: 150px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    background-color: #17A595;
    color: white;
    text-align: center;
    padding: 30px 20px;
    border-radius: 15px;
    width: 250px;
    height: 180px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card i {
    font-size: 55px;
    margin-bottom: 15px;
}

.card p {
    font-size: 22px;
    margin: 0;
}


/* Aquí empieza el efecto del borde dibujado */
.card::before,
.card::after {
    content: '';
    position: absolute;
    border: 5px solid white;
    width: 0%;
    height: 0%;
    transition: all 0.4s ease;
    pointer-events: none;
    border-radius: 15px;
}

/* Línea horizontal y vertical se dibujan por separado */
.card::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.card::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

/* Al hacer hover se dibuja el borde */
.card:hover::before,
.card:hover::after {
    width: 100%;
    height: 100%;
}

/*----------- WAVE ---------------------*/

section.waveNavbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    pointer-events: none;
    z-index: 5;
}

section.waveNavbar .wavenav {
    position: absolute;
    width: 100%;
    height: 100px;
    background: url(../imagenes/waveNav.png);
    background-repeat: repeat-x;
    background-size: 1000px 100px;
}

section.waveNavbar .wavenav.wave1nav {
    animation: animatenav 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    top: 0;
    left: 0;
}

section.waveNavbar .wavenav.wave2nav {
    animation: animate2nav 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    top: 10px;
    left: 0;
}

section.waveNavbar .wavenav.wave3nav {
    animation: animatenav 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    top: 15px;
    left: 0;
}

section.waveNavbar .wavenav.wave4nav {
    animation: animate2nav 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    top: 20px;
    left: 0;
}

/* Animaciones */
@keyframes animatenav {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2nav {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}


section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../imagenes/wave1.png);
    background-size: 1000px 100px;
    pointer-events: none;
}

section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0px;
}

section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .wave.wave4{
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}


@keyframes animate{
    0%{
       background-position-x: 0; 
    }
    100%{
       background-position-x: 1000px; 
    }
}

@keyframes animate2{
    0%{
       background-position-x: 0; 
    }
    100%{
       background-position-x: -1000px; 
    }
}



.navbar {
    position: relative;
    z-index: 1;
}


.header__container .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 8%;
}

.header__container .navbar .logo img{
    width: 8em;
    padding: 1em;
}

.header__container .navbar .logo {
    position: relative;
    z-index: 10;
}

.navbar-center {
    justify-content: center;
}



/* ------------ OPCIONES DEL PERFIL --------------- */


.header__container .action {
    position: relative;
    z-index: 10;
}

.header__container .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.header__container .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.header__container .action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 250px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    border: 2px solid rgba(23, 165, 149, 0.5);
    z-index: 9999;
}

.header__container .action .menu.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
}


.header__container .action .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.header__container .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}

.header__container .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.header__container .action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    display: flex;
    align-items: center;
}

.header__container .action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: .5;
    transition: 0.2s;
}

.header__container .action .menu ul li:hover img {
    opacity: 1;
    filter: brightness(1.2);
}


.header__container .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.2s;
}

.header__container .action .menu ul li:hover a {
    color: #17A595;
}

.header__container .action .menu ul li:nth-child(2),
.header__container .action .menu ul li:nth-child(3),
.header__container .action .menu ul li:nth-child(6) {
    border-top: none;
}


/* --------- MODAL AGREGAR PRODUCTO ------------- */

.modal-producto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-producto.active {
    display: flex;
}

.modal-content-producto {
    background: #fff;
    border-radius: 15px;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: slideIn 0.4s ease;
}

@keyframes slideIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal-header-producto {
    background: #17A595;
    color: white;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.modal-header-producto .back-arrow {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.modal-body-producto {
    display: flex;
    justify-content: center;
    padding: 2em;
}


.contenedor-formulario {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Caja de imagen */
.imagen-box {
    width: 250px;
    height: 250px;
    border: 2px dashed #17A595;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #f9f9f9;
}

.imagen-box input {
    display: none;
}

.imagen-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

.imagen-box p {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.campos-producto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.campos-producto label {
    display: block;
    margin-bottom: 2px;
    font-size: 0.9rem;
    color: #000000;
}

.campos-producto input {
    padding: 10px;
    border: 1px solid #17A595;
    border-radius: 8px;
    font-size: 16px;
}
.campos-producto input:focus {
    outline: none;
    border-color: #17A595;
}

.campos-producto button {
    background-color: #17A595;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.campos-producto button:hover {
    background-color: #139080;
}

/* Ventana emergente */
.ventana-emergente-producto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.ventana-contenido-producto {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 450px;
    font-family: 'Nunito', sans-serif;
    animation: aparecer 0.3s ease;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.ventana-encabezado-producto {
    background-color: #17A595;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.ventana-cuerpo-producto {
    padding: 25px;
    text-align: center;
}

.ventana-cuerpo-producto p {
    font-size: 17px;
    color: #333;
    margin: 0;
}

@keyframes aparecer-producto {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes desaparecer-producto {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.9); }
}

.ventana-emergente-producto.desapareciendo .ventana-contenido-producto {
    animation: desaparecer 0.3s ease forwards;
}


/* -------------- EMPLEADOS -----------------*/

.usuarios-container {
  width: 70%; /* ancho fijo más angosto */
  margin: 40px auto;
  padding: 10px;
  background: #fafafa;
  box-shadow: 0 12px 50px rgba(0, 0, 0, 0.20);
}

.usuarios-header h2 {
  color: #17A595;
  border-left: 4px solid #17A595;
  padding-left: 10px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.tabla-usuarios {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 360px;
  overflow-y: auto;
  padding-right: 6px;
}

.tabla-usuarios::-webkit-scrollbar {
  width: 6px;
}
.tabla-usuarios::-webkit-scrollbar-thumb {
  background-color: #17A595;
  border-radius: 4px;
}
.tabla-usuarios::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  transition: all 0.3s ease;
}



.fila.encabezado {
  background-color: #17A595;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.fila.encabezado .col {
  color: white;
}

.fila .col {
  font-size: 0.95em;
  text-align: center;
}

.fila .col.nombre {
  flex: 1.5;
  text-align: left;
}
.fila .col.correo {
  flex: 1.5;
  text-align: left;
}
.fila .col.fecha,
.fila .col.estado,
.fila .col.acciones {
  flex: 0.9;
}

.estado {
  display: inline-block;
  padding: 4px 0;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: 600;
  width: 80px;
}

.estado.activo {
  background-color: #b3f5e4;
  color: #066f5c;
}
.estado.inactivo {
  background-color: #f7b2b2;
  color: #d81d08;
}

.acciones {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.acciones button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #222;
  transition: color 0.2s;
}

.acciones button:hover {
  transform: scale(1.2);
  color: #0d7c6c;
}


/*---- VENTANA INHABILITAR --- */
.modal-eliminar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-contenido {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    animation: aparecer 0.3s ease-out;
}

@keyframes aparecer-producto {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-header-producto {
    background-color: #e53935;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.modal-body-producto {
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 1em;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: #fff;
}

.btn-aceptar {
    background-color: #17A595;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-cancelar {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}



.mensaje-exito {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background-color: #17A595;
    color: white;
    padding: 1em 2em;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    font-size: 1rem;
    opacity: 0;
    z-index: 10000;
    transition: all 0.3s ease;
    pointer-events: none;
}

.mensaje-exito.mostrar {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}



.modal-activar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.activar-header {
    background-color: #17A595;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-contenido {
    background-color: white;
    border-radius: 8px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-body-producto {
    padding: 15px;
    color: black;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
}

.btn-aceptar-activar {
    background-color: #17A595;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-cancelar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.ventana-cuenta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.ventana-contenido {
    background: #fff;
    border-radius: 15px;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    animation: slideIn 0.4s ease;
}

.ventana-cuerpo p {
    margin: 10px 0 0 0;
    font-size: 1em;
}

@keyframes slideIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.desapareciendo-cuentas {
    animation: fadeOut 0.3s ease;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.boton-regresar {
    margin: 20px auto 0 50px;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    background-color: #17A595;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.boton-regresar:hover {
    background-color: #128275;
}
.productos-controles input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.btn-agregar-producto {
    background-color: #17A595;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.navbar-right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu {
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 10px;
    display: none; /* se muestra con .active */
    z-index: 9999;
}

.menu.active {
    display: block;
}

.profile img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    cursor: pointer;
}


